/* color pallet guide
   sc = space cadet
   cv = chinese violet
   ls = lightsilver 
   os = outer space 
   eb = eerie black*/
:root {
    --sc: #2E2951;
    --cv: #81608A;
    --ls: #d9D9D9;
    --os: #474d4b;
    --eb: #1b1a1a; 

      }   
body {
    background-color: var(--cv);
    background-image: url('https://images3.alphacoders.com/129/1299403.jpg');
    background-size: cover; 
    background-attachment: fixed;
    background-color: var(--cv);
    margin: 0; 
    padding: 0; 
}
p {
    color: var(--ls);
}
h1 {
    color:var(--ls)
}
header {
background-color: var(--sc);
 color:var(--ls)
}

