.bg-info {
    background-color: #2E2951;
    
    }
.container {
    background-color: #2E2951;
    
}
header{
    background-color: #2E2951;

}



 .card {
    background-color: #474d4b;
    margin-left: 12%;
    margin-right: -9%; 
}   